<%-include("partials/header")%>
<%-include("partials/nav")%>
<div class="container1">
    
    <form class="box" action="/get-email" method="post">
    <h4 class="fs-1">Enter Exixting Email</h4>

    <input type="email" name="email" placeholder="Enter exixting Email">


<button class="btn1"> send mail</button>



</form>
</div>

<%-include("partials/footer")%>