<%-include("partials/header")%>
<%-include("partials/nav")%>
<div>
<div class="container ">


<form class="box" action="/signup" method="post">
<h4 class="fs-1">Sign Up</h4>
<input type="text" name="username" placeholder="username">
<input type="email" name="email" placeholder="Email">
<input type="password" name="password" placeholder="password">
<button class="btn1">Sign Up</button>
</form>

<h6 class="dnthave text-light">Already have an account? <a href="/signin">Login here</a></h6>


</div>
</div>

<%-include("partials/footer")%>