@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #1d243d;
}



.container{
  margin-top: 2px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgb( 33, 41, 66 );
  border-radius: 9px;
  border-top: 10px solid #79a6fe;
  border-bottom: 10px solid #8BD17C;
  width: 400px;
  height: 450px;
  box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
}

.container1{
  /* margin-top: 2px; */
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgb( 33, 41, 66 );
  border-radius: 9px;
  border-top: 10px solid #79a6fe;
  border-bottom: 10px solid #8BD17C;
  width: 400px;
  height: 350px;
  box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
  padding: 2vmax;
}

.luc{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #5c6bc0; 
  font-size: 18px;
  margin-top:48px;
}

.box input[type = "text"],.box input[type = "password"],.box input[type = "email"] {
  display: block;
  margin: 20px auto;
  background: #262e49;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #d6d6d6;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  
}
::-webkit-input-placeholder {
  color: #565f79;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus ,.box input[type = "email"]:focus{
  border: 1px solid #79A6FE;
  
}

a{
  color: #5c7fda;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.btn1 {
  border:0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  position: absolute;
  top: 79%;
  left: 8%;
  transition: 0.3s;
  cursor: pointer;
}

.btn1:hover,

.btn2:hover {
  background: #5d33e6;
}

.forgetpass {
  position: relative;
  float: right;
  right: 28px;
}

.dnthave{
    position: absolute;
    top: 92%;
    left: 24%;
}



.box input[type = "checkbox"]{
  position: relative;
  right: 11%;
 
 }


strong{
  position: relative;
  right: 11%;
  color: grey;
  font-size: 1vmax;
}

.dflex-c{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.dflex-r{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.btn2 {
  border:0;
  background: #7f5feb;
  color: #dfdeee;
  border-radius: 100px;
  width: 340px;
  height: 49px;
  font-size: 16px;
  position: absolute;
  transition: 0.3s;
  cursor: pointer;
}

.container3{
  margin-top: 2px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgb( 33, 41, 66 );
  border-radius: 9px;
  border-top: 10px solid #79a6fe;
  border-bottom: 10px solid #8BD17C;
  /* width: 400px; */
  /* height: 450px; */
  box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
}